body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  max-width: 1000px;
}

img {
  max-width: 25px;
}

aside {
  width: 250px;
  height: 100%;
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  position: fixed;
}

main {
  width: 750px;
  position: absolute;
  right: 0;
  background-color: #EAEAF4;
  height: 100vh;
}

form {
  background-color: #A9AAD2;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

section {
  background-color: #EAEAF4;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

h1 {
  font-size: 1.15em;
  color: #EAEAF4;
  padding-left: 5%;
}

h2 {
  font-size: 1em;
  color: #A9AAD2;
  margin: 0;
  padding-left: 5%;
}

button {
  color: #EAEAF4;
  font-weight: bold;
  border: 2px solid #5356A4;
  font-size: 1em;
  height: 2.5em;
  cursor: pointer;
  background-color: #353567;
}

input {
  color: #1F1F3D;
  height: 3em;
}

article {
  width: 200px;
  margin-top: 1em;
}

label,
h4,
p {
  color: #1F1F3D;
  font-weight: bold;
  margin-top: 1em;
}

/* sidebar section */

aside button {
  background-color: #5356A4;
  display: block;
  width: 90%;
  height: 40px;
  font-size: 1.1em;
  margin-left: 5%;
  border: 2px solid #353567;
}

.border-box {
  border-top: 1px solid #5356A4;
  border-bottom: 1px solid #5356A4;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
}

/* Form section */

form > * {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

form > div > *:not(label) {
  margin-bottom: 1em;
}

input,
textarea {
  border: 2px solid #5356A4;
  resize: none;
}

input::placeholder {
  color: #A9AAD2;
}

.search-bar {
  flex-direction: row;
  border: 2px solid #5356A4;
}

.search-bar img {
  width: 20px;
  max-width: 20px;
  background-color: #353567;
  max-width: initial;
  height: 1.5em;
  padding: 0.5em;
  margin: 0;
}

div.search-bar input {
  width: 364px;
  border: 0;
  padding: 0;
  padding-left: 1em;
  line-height: 1.5em;
  height: 2.77em;
  font-size: .9em;
  margin-bottom: 0;
}

.save-button:disabled {
  background-color: #5356A4;
  cursor: auto;
}

/* Card Container Section */

article p {
  font-weight: normal;
  padding: 0 1em;
}

article > div {
  background-color: #FFFFFF;
  width: 200px;
  border: 2px solid #1F1F3D;
}

article h4 {
  padding: 0 1em;
}

.show-starred .false {
  display: none;
}

article .favorite-button {
  content: url("./assets/star.svg");
}

article.true .favorite-button {
  content: url("./assets/star-active.svg");
}

.toolbar {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

.favorite-button,
.delete-button {
  cursor: pointer;
}

.comment-bar {
  background-color: #5356A4;
  display: flex;
  align-items: center;
}

.comment-bar p {
  color: #E9E9F3;
  font-weight: bold;
  font-size: .8em;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}
