body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  max-width: 1000px;
}

img {
  max-width: 16px;
}

aside {
  width: 25%;
  height: 100%;
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
}

main {
  width: 75%;
  position: absolute;
  right: 0;
}

form {
  background-color: #A9AAD2;
  margin: 0;
}

section {
  background-color: #EAEAF4;
}

aside {
  position: absolute;
}

h1 {
  font-size: 18px;
  color: #EAEAF4;
  padding-left: 5%;
}

h2 {
  font-size: 12px;
  color: #A9AAD2;
  margin: 0;
  padding-left: 5%;
}

label,
h4,
p {
  color: #1F1F3D;
  font-weight: bold;
}

article > p {
  font-weight: normal;
}

button {
  color: #EAEAF4;
  font-weight: bold;
  border: 2px solid #353567;
}

aside button {
  background-color: #5356A4;
  display: block;
  width: 90%;
  height: 40px;
  font-size: 16px;
  margin-left: 5%;
}

form button {
  background-color: #1F1F3D;
}

span {
  color: #E9E9F3;
}

input {
  color: #1F1F3D;
}

input::placeholder {
  color: #A9AAD2;
}

.toolbar {
  background-color: #1F1F3D;
}

.comment-bar {
  background-color: #5356A4;
}

.border-box {
  border-top: 1px solid #5356A4;
  border-bottom: 1px solid #5356A4;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
}
